<div id="<%= dom_id orden %>">
  <p>
    <strong>Numero personas:</strong>
    <%= orden.numero_personas %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= orden.total %>
  </p>

  <p>
    <strong>Mesa:</strong>
    <%= orden.mesa_id %>
  </p>

  <p>
    <strong>Empleado:</strong>
    <%= orden.empleado_id %>
  </p>

</div>
