<% content_for :title, "Ordenes" %>

<div class="container">
<h2 style="text-align: center; font-size: 2rem;">
  Orden para mesa <%= @orden.mesa.numero %>
</h2>
  <p style="text-align: center; font-size: 1rem;">Empleado asignado: <strong><%= @orden.empleado.nombre %> <%= @orden.empleado.apellido_paterno %></strong></p>

  <div class="row">
    <!-- Columna 1: Formulario -->
    <%= render "tabla" %>
    <!-- Columna 2: Tabla -->
    <%= render "tabla2" %>
  </div>
  <div style="text-align: center;">

  <% if @orden.estado_orden %>
  <%= button_to "Cerrar Orden y Ver Reporte", cerrar_orden_path(@orden), method: :patch, class: "btn-cafe" %>
<% else %>
  <p>Orden ya está cerrada.</p>
<% end %>
</br>
        <%= link_to "Volver a mesas", mesas_path, class: "btn-cafe" %>
      </div>

</div>