
        <li class="nav-link">
  <a href="#" id="grayscale-toggle-btn" class="nav-link link-body-emphasis" style="cursor: pointer;">
    <i class='bx bx bxs-color-fill icon'></i>
    <span class="text nav-text">Escala de grises</span>
  </a>
</li>
<li class="nav-link">
  <a href="#" id="lupa-toggle-btn" class="nav-link link-body-emphasis" style="cursor: pointer;">
    <i class='bx bx-search-alt-2 icon'></i>
    <span class="text nav-text">Lupa</span>
  </a>
</li>

        <li class="nav-link">
            <%= link_to root_path, class: "nav-link link-body-emphasis" do %>
                <i class='bx bxs-captions icon'></i>
                <span class="text nav-text">Lector de pantalla</span>
            <% end %>
        </li>

        <li class="nav-link">
            <%= link_to root_path, class: "nav-link link-body-emphasis" do %>
                <i class='bx bx-link-alt icon'></i>
                <span class="text nav-text">Resaltar enlaces</span>
            <% end %>
        </li>

        <li class="nav-link">
            <%= link_to root_path, class: "nav-link link-body-emphasis" do %>
                <i class='bx bx-font-size icon'></i>
                <span class="text nav-text">Tamaño de letra</span>
            <% end %>
        </li>

        <li class="nav-link">
            <%= link_to empleados_path, class: "nav-link link-body-emphasis" do %>
                <i class='bx bxs-user icon'></i>
                <span class="text nav-text">Empleados</span>
            <% end %>
        </li>
                <li class="nav-link">
            <%= link_to empleados_path, class: "nav-link link-body-emphasis" do %>
                <i class='bx bxs-user icon'></i>
                <span class="text nav-text">Empleados</span>
            <% end %>
        </li>
  <li class="nav-link">
    <a href="#" id="show-menu-btn" class="nav-link link-body-emphasis" style="cursor: pointer;">
      <i class='bx bx-menu-alt-left icon'></i>
      <span class="text nav-text">Menú</span>
    </a>
  </li>
