
        <li class="nav-link">
  <a href="#" id="grayscale-toggle-btn" class="nav-link link-body-emphasis" style="cursor: pointer;">
    <i class='bx bx bxs-color-fill icon'></i>
    <span class="text nav-text">Escala de grises</span>
  </a>
</li>
<li class="nav-link">
  <%= link_to "#", id: "magnifier-toggle", class: "nav-link link-body-emphasis", role: "button" do %>
    <i class='bx bx-search-alt-2 icon'></i>
    <span class="text nav-text">Lupa</span>
  <% end %>
</li>


<li class="nav-link">
  <%= link_to "#", id: "lector-contextual", class: "nav-link link-body-emphasis", role: "button" do %>
                <i class='bx bxs-captions icon'></i>
                <span class="text nav-text">Lector de pantalla</span>
  <% end %>
</li>

<li class="nav-link">
  <%= link_to "#", id: "resaltar-links", class: "nav-link link-body-emphasis", role: "button" do %>
    <i class='bx bx-link-alt icon'></i>
    <span class="text nav-text">Resaltar enlaces</span>
  <% end %>
</li>
<li class="nav-link">
  <%= link_to "#", class: "nav-link link-body-emphasis", id: "btn-animaciones" do %>
    <i class='bx bx-pause-circle icon'></i>
    <span class="text nav-text">Pausar animacion</span>
  <% end %>
</li>


<li class="nav-link">
  <%= link_to "#", id: "aumentar-texto", class: "nav-link link-body-emphasis", role: "button" do %>
    <i class='bx bx-plus icon'></i>
        <span class="text nav-text">Mas</span>

  <% end %>
  <%= link_to "#", id: "disminuir-texto", class: "nav-link link-body-emphasis", role: "button" do %>
    <i class='bx bx-minus icon'></i>
    <span class="text nav-text">Menos</span>
  <% end %>
</li>
<li class="nav-link">
  <%= link_to "#", id: "dyslexia-toggle", class: "nav-link link-body-emphasis", role: "button" do %>
    <i class='bx bx-book icon'></i>
    <span class="text nav-text">Fuente dislexia</span>
  <% end %>
</li>


        </li>
  <li class="nav-link">
    <a href="#" id="show-menu-btn" class="nav-link link-body-emphasis" style="cursor: pointer;">
      <i class='bx bx-menu-alt-left icon'></i>
      <span class="text nav-text">Menú</span>
    </a>
  </li>
