<header>
<div class="image-text">
    <span class="image">
<%= image_tag "Komi.jpg", alt: "Logo de la empresa" %>
    </span>

    <div class="text logo-text">
        <span class="name">Codinglab</span>
        <span class="profession">Web developer</span>
    </div>
</div>

<i class='bx bx-chevron-right toggle'></i>
</header>

<div class="menu-bar">
<div class="menu">

    <li class="search-box">
        <i class='bx bx-search icon'></i>
        <input type="text" placeholder="Search...">
    </li>
        <li class="nav-link">
            <%= link_to root_path, class: "nav-link link-body-emphasis" do %>
                <i class='bx bx-home-alt icon' ></i>
                <span class="text nav-text">Inicio</span>
            <% end %>
        </li>

        <li class="nav-link">
            <%= link_to home_dashboard_path, class: "nav-link link-body-emphasis" do %>
                <i class='bx bxs-dashboard icon'></i>
                <span class="text nav-text">Dashboard</span>
            <% end %>
        </li>

        <li class="nav-link">
            <%= link_to root_path, class: "nav-link link-body-emphasis" do %>
                <i class='bx bx-calendar-plus icon' ></i>
                <span class="text nav-text">Ordenes</span>
            <% end %>
        </li>

        <li class="nav-link">
            <%= link_to root_path, class: "nav-link link-body-emphasis" do %>
                <i class='bx bxs-party icon' ></i>
                <span class="text nav-text">Eventos</span>
            <% end %>
        </li>

        <li class="nav-link">
            <%= link_to root_path, class: "nav-link link-body-emphasis" do %>
                <i class='bx bxs-food-menu icon' ></i>
                <span class="text nav-text">Productos</span>
            <% end %>
        </li>

        <li class="nav-link">
            <%= link_to empleados_path, class: "nav-link link-body-emphasis" do %>
                <i class='bx bxs-user icon'></i>
                <span class="text nav-text">Empleados</span>
            <% end %>
        </li>
</div>

<div class="bottom-content">
    <li class="">
        <%= link_to new_user_registration_path do %>
            <i class='bx bx-log-out icon' ></i>
            <span class="text nav-text">Registrarse</span>
         <% end %>
    </li>
    <% if user_signed_in? %>
    <li class="">
        <%= link_to destroy_user_session_path, method: :delete do %>
            <i class='bx bx-log-out icon' ></i>
            <span class="text nav-text">Cerrar sesion</span>
         <% end %>
    </li>
    <% else %>
        <li class="">
        <%= link_to new_user_session_path do %>
            <i class='bx bx-log-out icon' ></i>
            <span class="text nav-text">Iniciar sesion</span>
         <% end %>
    </li>
    <% end %>
    <li class="mode">
        <div class="sun-moon">
            <i class='bx bx-moon icon moon'></i>
            <i class='bx bx-sun icon sun'></i>
        </div>
        <span class="mode-text text">Modo oscuro</span>

        <div class="toggle-switch">
            <span class="switch"></span>
        </div>
    </li>
    
</div>
</div>

