
        <li class="nav-link">
            <%= link_to root_path, class: "nav-link link-body-emphasis" do %>
                <i class='bx bx-home-alt icon' ></i>
                <span class="text nav-text">Inicio</span>
            <% end %>
        </li>

        <li class="nav-link">
            <%= link_to mesas_path, class: "nav-link link-body-emphasis" do %>
                <i class='bx bx-calendar-plus icon' ></i>
                <span class="text nav-text">Ordenes</span>
            <% end %>
        </li>

        <li class="nav-link">
            <%= link_to eventos_path, class: "nav-link link-body-emphasis" do %>
                <i class='bx bxs-party icon' ></i>
                <span class="text nav-text">Eventos</span>
            <% end %>
        </li>
            <% if empleado_signed_in? %>

        <li class="nav-link">
            <%= link_to productos_path, class: "nav-link link-body-emphasis" do %>
                <i class='bx bxs-food-menu icon' ></i>
                <span class="text nav-text">Productos</span>
            <% end %>
        </li>
                        <li class="nav-link">
            <%= link_to inventarios_path, class: "nav-link link-body-emphasis" do %>
                <i class='bx bxs-box icon'></i>
                <span class="text nav-text">Inventario</span>
            <% end %>
        </li>

        <li class="nav-link">
            <%= link_to empleados_path, class: "nav-link link-body-emphasis" do %>
                <i class='bx bxs-user icon'></i>
                <span class="text nav-text">Empleados</span>
            <% end %>
        </li>
        <li class="nav-link">
            <%= link_to reportes_path, class: "nav-link link-body-emphasis" do %>
                <i class='bx bxs-report icon'></i>
                <span class="text nav-text">Reportes</span>
            <% end %>
        </li>
            <% end %>
  <li class="nav-link">
    <a href="#" id="show-accesibilidad-btn" class="nav-link link-body-emphasis" style="cursor: pointer;">
      <i class='bx bx-accessibility icon'></i>
      <span class="text nav-text">Accesibilidad</span>
    </a>
  </li>



