<div id="<%= dom_id evento %>">
  <p>
    <strong>Nombre:</strong>
    <%= evento.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= evento.descripcion %>
  </p>

  <p>
    <strong>Ubicacion:</strong>
    <%= evento.ubicacion %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= evento.tipo %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= evento.fecha %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= evento.estado %>
  </p>

  <p>
    <strong>Cantidad pagada:</strong>
    <%= evento.cantidad_pagada %>
  </p>

</div>
