<div class="formulario-container">
  <%= form_with(model: evento, local: true) do |form| %>
    <% if evento.errors.any? %>
      <div style="color: red; margin-bottom: 1rem;">
        <h2><%= pluralize(evento.errors.count, "error") %> errores impidieron guardar el evento:</h2>
        <ul>
          <% evento.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <h4>Información del Evento</h4>

      <div class="input-group input-group-icon">
        <%= form.text_field :nombre, placeholder: "Nombre del Evento" %>
        <div class="input-icon">
          <i class="fa fa-calendar"></i>
        </div>
      </div>

      <div class="input-group input-group-icon">
        <%= form.text_field :descripcion, placeholder: "Descripción" %>
        <div class="input-icon">
          <i class="fa fa-align-left"></i>
        </div>
      </div>

      <div class="input-group input-group-icon">
        <%= form.text_field :ubicacion, placeholder: "Ubicación" %>
        <div class="input-icon">
          <i class="fa fa-map-marker-alt"></i>
        </div>
      </div>
        <div class="input-group input-group-icon">
  <%= form.text_field :cliente, placeholder: "Cliente" %>
  <div class="input-icon">
    <i class="fa fa-user"></i>
  </div>
</div>

<div class="input-group input-group-icon">
  <%= form.text_field :telefono, placeholder: "Teléfono" %>
  <div class="input-icon">
    <i class="fa fa-phone"></i>
  </div>
</div>
<div class="input-group input-group-icon">
  <%= form.select :tipo, options_for_select([['Vuelta y vuelta', 'Vuelta y vuelta'], ['Barbacoa', 'Barbacoa']], selected: evento.tipo), prompt: "Selecciona tipo" %>
  <div class="input-icon">
    <i class="fa fa-tags"></i>
  </div>
</div>


      <div class="input-group input-group-icon">
        <%= form.date_field :fecha %>
        <div class="input-icon">
          <i class="fa fa-clock"></i>
        </div>
      </div>

      <%= form.hidden_field :estado, value: "Activo" %>


      <div class="input-group input-group-icon">
        <%= form.number_field :cantidad_pagada, placeholder: "Cantidad Pagada" %>
        <div class="input-icon">
          <i class="fa fa-dollar-sign"></i>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-group">
        <%= form.submit "Guardar evento", class: "btn-cafe" %>
      </div>
      <div class="input-group">
        <%= link_to "Volver a eventos", eventos_path, class: "btn-cafe" %>
      </div>
    </div>
  <% end %>
</div>
