<div id="<%= dom_id empleado %>">
  <p>
    <strong>Nombre:</strong>
    <%= empleado.nombre %>
  </p>

  <p>
    <strong>Apellido materno:</strong>
    <%= empleado.apellido_materno %>
  </p>

  <p>
    <strong>Apellido paterno:</strong>
    <%= empleado.apellido_paterno %>
  </p>

  <p>
    <strong>Puesto:</strong>
    <%= empleado.puesto %>
  </p>

  <p>
    <strong>Horario:</strong>
    <%= empleado.horario %>
  </p>

  <p>
    <strong>Rfc:</strong>
    <%= empleado.rfc %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= empleado.telefono %>
  </p>

  <p>
    <strong>Edad:</strong>
    <%= empleado.edad %>
  </p>

  <p>
    <strong>Fecha contratacion:</strong>
    <%= empleado.fecha_contratacion %>
  </p>

</div>
