
<tr>
  <td class="text-center">
    <% if empleado.profile_image.attached? %>
      <%= image_tag empleado.profile_image, class: "avatar", alt: "Foto de perfil", width: 60, height: 60 %>
    <% else %>
      <%= image_tag "Barbacoa.png", class: "avatar", alt: "Sin imagen", width: 60, height: 60 %>
    <% end %>
  </td>
  <td class="text-center">
    <%= link_to "#{empleado.nombre} #{empleado.apellido_paterno} #{empleado.apellido_materno}", empleado_path(empleado) %>
  </td>        <td class="text-center"><%= empleado.puesto %></td>
  <td class="text-center"><%= empleado.horario %></td>
  <td class="text-center"><%= empleado.rfc %></td>
  <td class="text-center"><%= empleado.telefono %></td>
  <td class="text-center"><%= empleado.edad %></td>
  <td class="text-center"><%= empleado.fecha_contratacion %></td>
  <td>
    <%= link_to empleado, class: "settings", title: "Ajustes", data: { toggle: "tooltip" } do %>
    <i class="material-icons">&#xE8B8;</i>
  <% end %>
<%= button_to empleado_path(empleado), method: :delete,
      data: { turbo_confirm: '¿Estás seguro que quieres borrar este empleado?' },
      form: { class: 'inline-form' },
      class: 'btn-link',
      title: 'Borrar',
      data: { toggle: 'tooltip' } do %>
  <i class="material-icons">&#xE5C9;</i>
<% end %>




</td>
</tr>