
<tr>
  <td class="text-center">
    <% if empleado.profile_image.attached? %>
      <%= image_tag empleado.profile_image, class: "avatar", alt: "Foto de perfil", width: 60, height: 60 %>
    <% else %>
      <%= image_tag "Barbacoa.png", class: "avatar", alt: "Sin imagen", width: 60, height: 60 %>
    <% end %>
  </td>
  <td class="text-center">
    <%= link_to "#{empleado.nombre} #{empleado.apellido_paterno} #{empleado.apellido_materno}", empleado_path(empleado) %>
  </td>        <td class="text-center"><%= empleado.puesto %></td>
  <td class="text-center"><%= empleado.horario %></td>
  <td><span class="status text-success">&bull;</span> Active</td>
  <td class="text-center"><%= empleado.rfc %></td>
  <td class="text-center"><%= empleado.telefono %></td>
  <td class="text-center"><%= empleado.edad %></td>
  <td class="text-center"><%= empleado.fecha_contratacion %></td>
  <td>
    <%= link_to empleado, class: "settings", title: "Settings", data: { toggle: "tooltip" } do %>
    <i class="material-icons">&#xE8B8;</i>
  <% end %>
    <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
  </td>
</tr>