<%= form_with(model: empleado, local: true, html: { multipart: true }) do |form| %>
  <% if empleado.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(empleado.errors.count, "error") %> prohibited this empleado from being saved:</h2>
      <ul>
        <% empleado.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email, autocomplete: "email" %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password, autocomplete: "new-password" %>
  </div>

  <div>
    <%= form.label :password_confirmation, style: "display: block" %>
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :apellido_paterno, style: "display: block" %>
    <%= form.text_field :apellido_paterno %>
  </div>

  <div>
    <%= form.label :apellido_materno, style: "display: block" %>
    <%= form.text_field :apellido_materno %>
  </div>

  <div>
    <%= form.label :puesto, style: "display: block" %>
    <%= form.text_field :puesto %>
  </div>

  <div>
    <%= form.label :horario, style: "display: block" %>
    <%= form.text_field :horario %>
  </div>

  <div>
    <%= form.label :rfc, style: "display: block" %>
    <%= form.text_field :rfc %>
  </div>

  <div>
    <%= form.label :telefono, style: "display: block" %>
    <%= form.telephone_field :telefono %>
  </div>

  <div>
    <%= form.label :edad, style: "display: block" %>
    <%= form.number_field :edad %>
  </div>

  <div>
    <%= form.label :fecha_contratacion, style: "display: block" %>
    <%= form.date_field :fecha_contratacion %>
  </div>

  <div>
    <%= form.label :profile_image, "Foto de perfil", style: "display: block" %>
    <%= form.file_field :profile_image %>
  </div>

  <div>
    <%= form.submit "Guardar cambios" %>
  </div>
<% end %>
