<div class="container" id="container">
<div class="contenedor">
	<div class="form-container sign-in-container">
				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<form action="#">
			<h1>Iniciar sesion</h1></br>
  				<%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email" %><br/>
  				<%= f.password_field :password, placeholder: "Password", autocomplete: "current-password" %><br />

				<% if devise_mapping.rememberable? %>
					<div class="field">
  						<label>
    						<%= f.check_box :remember_me %>
    						<span>Mantener sesión iniciada</span>
  							</label>
					</div>
				<% end %>
				</br>
				<%= link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name) %></br>
			  	<div class="field">
    				<%= f.submit "Iniciar sesion" , class: "button" %>
  				</div>
		</form>
					<% end %>

	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>¡Bienvenido!</h1>
				<p>Ingresa tus credenciales para comenzar tu jornada en el sistema</p>
			</div>
		</div>
	</div>
	</div>
</div>