
<tr>
    <td class="text-center"><%= inventario.id %></td>
  <td class="text-center"><%= inventario.producto %></td>
  <td class="text-center"><%= inventario.cantidad %></td>
  <td class="text-center"><%= inventario.tipo_almacenamiento %></td>
  <td>
    <%= link_to inventario, class: "settings", title: "Settings", data: { toggle: "tooltip" } do %>
    <i class="material-icons">&#xE8B8;</i>
  <% end %>
<%= button_to inventario_path(inventario), method: :delete,
      data: { turbo_confirm: '¿Estás seguro que quieres borrar este empleado?' },
      form: { class: 'inline-form' },
      class: 'btn-link',
      title: 'Borrar',
      data: { toggle: 'tooltip' } do %>
  <i class="material-icons">&#xE5C9;</i>
<% end %>  </td>
</tr>