<div class="cuadro-wrapper especial-wrapper">
  <div class="cuadro-card">
    <div>
      <h5>ID</h5>
      <span><%= @inventario.id %></span>
    </div>
    <div>
      <h5>Producto</h5>
      <span><%= @inventario.producto %></span>
    </div>
    <div>
      <h5>Cantidad</h5>
      <span><%= @inventario.cantidad %></span>
    </div>
    <div>
      <h5>Tipo almacenamiento</h5>
      <span><%= @inventario.tipo_almacenamiento %></span>
    </div>
  </div>
</div>


<div class="cuadro-wrapper especial-wrapper">
  <div class="cuadro-card">
      <div>
      <%= link_to "Editar inventario", edit_inventario_path(@inventario), class: "btn-cafe" %>
    </div>
    <div>
      <%= link_to "Volver a inventarios", inventarios_path, class: "btn-cafe" %>
    </div>
    <div>
      <%= button_to "Eliminar inventario ", @inventario, method: :delete, data: { confirm: "¿Estás seguro?" }, class: "btn-cafe" %>
    </div>
  </div>
  </div>
</div>
