<!DOCTYPE html>
<html lang="en">
<head>
<title><%= content_for(:title) || "Barbacoa2000" %></title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
<%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "formulario", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "show", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "tabla", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "calendarios", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "tablas-index", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "dashboard", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "cuadrados", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "signin", "data-turbo-track": "reload" %>
<%= javascript_include_tag "https://code.jquery.com/jquery-3.6.0.min.js", defer: true %>
<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css", rel: "stylesheet", integrity: "sha512-...", crossorigin: "anonymous", referrerpolicy: "no-referrer" %>
<%= favicon_link_tag 'Barbacoa.ico' %>


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js" integrity="sha384-VQqxDN0EQCkWoxt/0vsQvZswzTHUVOImccYmSyhJTp7kGtPed0Qcx8rK9h9YEgx+" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/datedreamer@latest/dist/datedreamer.min.js"></script>

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>

    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
</head>
<body>
    <nav class="sidebar close">
    <%= render 'home/sidebar' %>
    </nav>

    <section class="home">
    </br>
    <% if notice %>
          <%= render 'layouts/alerts' %>
    <% end %>
    </br></br>
    <%= yield %>
    </section>

</body>
</html>
<script>
  if (localStorage.getItem("modoOscuro") === "true") {
    document.documentElement.classList.add("dark");
    document.body.classList.add("dark");
  }
</script>